<h1>Hello <%= userName %>,</h1>
<p><%= userInfo %> has marked absent for today with the following details:</p>
<p>Leave Reason: <b><%= reason %></b>.</p>
<p>Leave Type: <b><%= leaveTypeName %></b>.</p>

<p>
  Thanks,
  <br><br>
  The Arya Payroll Team
  <br>
  <%= homeUrl %>
</p>