<h1>Hello <%= userName %>,</h1>
<p><%= userInfo %> has applied for leave with the following details:</p>
<p>Leave Reason: <b><%= reason %></b>.</p>
<p>Leave Type: <b><%= leaveTypeName %></b>.</p>
<p>From: <b><%= fromDate %></b>.</p>
<p>To: <b><%= toDate %></b>.</p>

<p>Please take necessary action on the <%= applicationName %>.</p>

<p>
  Thanks,
  <br><br>
  The Arya Payroll Team
  <br>
  <%= homeUrl %>
</p>