<h1>Hello <%= userName %>,</h1>
<p><%= userInfo %> has updated the status of your applied leave with the following details:</p>
<p>Leave Reason: <b><%= reason %></b>.</p>
<p>Leave Type: <b><%= leaveTypeName %></b>.</p>
<p>From: <b><%= fromDate %></b>.</p>
<p>To: <b><%= toDate %></b>.</p>
<p>Current Status:<b><%= currentStatus %>.</b></p>

<p>
  Thanks,
  <br><br>
  The Arya Payroll Team
  <br>
  <%= homeUrl %>
</p>